body {
  font-family: "Poppins", sans-serif;
  margin: 0;
}
h1 {
  font-size: 50px;
}
.Color-temporari {
  color: orange;
}
section {
  display: flex;
}
.home {
  background-image: url(images/top-banner.png);
  background-repeat: no-repeat;
}
.half-width {
  padding: 5%;
}

.button {
  text-decoration: none;
  background-color: orange;
  border-radius: 5px;
  background-image: linear-gradient(salmon, orange);
  padding: 10px 20px;
  color: white;
  font-weight: 700;
}
